html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  width: 300px;
}

.about_country h2 {
  margin: 0 auto;
  text-align: center;
}

.one_country {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}

.one_country img {
  width: 300px;
}

.list_about li {
  font-weight: 700;
}

.list_country {}

.list_country li {
  margin: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.list_country li img {
  width: 100px;
}
